
[run]
branch = True
source = pyfibre/pyfibre,pyfibre_shg_pl_trans/pyfibre_shg_pl_trans
omit = */tests/*
       */bench/*
       */scripts/*

[report]
# Regexes for lines to exclude from consideration
omit = pyfibre/pyfibre/api.py
       */tests/*
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    if __name__ == .__main__.:

ignore_errors = True